[submodule "third-party/sockpp"]
	path = third-party/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "third-party/nlohmann_json"]
	path = third-party/nlohmann_json
	url = https://github.com/nlohmann/json
